{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST PROJECT</title>
    <link rel="stylesheet" "type=text/css" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css2/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css2/main.css'%}">
    <link href="{% static 'css1/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css1/style2.css' %}" rel="stylesheet" type="text/css" media="all" />
	  

    <!--[if lt IE 9]>
      <script src="{% static 'rk/js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'rk/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/index/" ><img src="{% static 'img/dope.png'%}"></a>

        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#" data-nav-section="features">Test website for MYSQL </a></li>

          </ul>
        </div>
      </div>

    </nav>

    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image:url({% static 'img/final.jpg'%})" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">TEST PROJECT</h1>
            <div class=" center">
              <p class="probootstrap-animate">
                  <form action="predicted_class" method="post" enctype="multipart/form-data">
		            {% csrf_token %}
		            <label for="audio_file">Select an audio file:</label><br>
		            <input type="file" name="audio_file"><br>
		            <input type="submit" value="Upload">
	              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

<script src="{% static 'js/scripts.min.js'%}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
